<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suhailahnfsella.fudum">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_apk"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_apk"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fudum">
        <activity
            android:name=".CheckOut"
            android:exported="false" />
        <activity
            android:name=".KunjungiToko"
            android:exported="false" />
        <activity
            android:name=".DetailProduk"
            android:exported="false" />
        <activity
            android:name=".InsertProduk"
            android:exported="false" />
        <activity
            android:name=".Toko"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Langganan"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AccountV2"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".FormToko"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SettingAccount"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AccountV1"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Lainnya"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Herbal"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Minuman"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".MakananRingan"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".MakananBerat"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".Daftar"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>